<%- include('../partials/header') %>

<img id="devFeedpic" src="https://i.imgur.com/pJs84sh.png">
<h1 id="devFeed"> devsFeed</h1>
<p id="devFeed2"> See What's New!</p>

<table id="list">
  <thead>
    <tr>
      <th>Posts!</th>
      <th>Comments!</th>
    </tr>
  </thead>

  <tbody>
    <% posts.forEach(function(p) { %>
      <tr>
        <!-- <td><%= p.title %></td> -->
      </tr>
      <td><%= p.content %></td>
      <td></td>
      <td ><a href="/posts/<%= p._id %>">Reply</a></td>
      <br>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>